* {
}

/* GENERAL RULES */

body {
  font-size: 16px;
  background-color: lavender;
  font-family: Helvetica;
}

/* HEADER */

#header-nav {
  border-radius: 0;
  border: 0;
  background-color: honeydew;
}

.navbar-brand {
  height: 80px;
  padding: 20px 0 20px 30px;
}

.navbar-brand h1 {
  color: #87CEEB;
  font-weight: bold;
  margin: 0px;
  text-shadow: 1px 1px 0px #666;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle {
  margin-top: 25px;
}

#droplist {
  margin-top: 10px;
}

#droplist a {
  background-color: honeydew;
  color: #87CEEB;
  font-size: 1.2em;
  text-align: center;
  border-bottom: 1px dashed #87CEEB;
  margin-bottom: 5px;
}

#droplist a:hover {
  background: #F0F8FF;
}

/* MAIN SECTION */
#page-title {
  color: #87CEEB;
  text-shadow: 1px 1px 1px #777
}

#page-title h2 {
  font-style: bold;
  font-size: 2.3em;
}

#section-1, #section-2, #section-3 {
  background-color: #FAFAD2;
  border: 1px solid black;
  padding: 20px;
  margin: 20px 10px;
  width: 100%;
  height: 700px;
}

#section-1 h3, #section-2 h3, #section-3 h3 {
  font-weight: bold;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #87CEEB;
  color: #FFF5EE;
}
